.header {
  text-align: center;
}

.icon {
  text-align: center;
}

.content {
  text-align: center;
}

.qrcode {
  text-align: center;
}

.meta {
  text-align: center;
}

.ui button {
  text-align: center;
}

.calendarHeaderButtons { 
  color: #2185d0 !important; 
}
.modeButtonActive {
  color: #2185d0 !important; 
}
.currentDay {
  background-color: #2185d0 !important; 
}

/* .modeButton {
  visibility: hidden !important;
} */