.header {
  text-align: center;
}

.icon {
  text-align: center;
}

.content {
  text-align: center;
}

.qrcode {
  text-align: center;
}

.meta {
  text-align: center;
}

.ui button {
  text-align: center;
}

.ru_title {
  text-align: center;
}