.header {
  text-align: center;
}

.icon {
  text-align: center;
}

.content {
  text-align: center;
}

.qrcode {
  text-align: center;
}

.meta {
  text-align: center;
}

.ui button {
  text-align: center;
}

.calendar_selected {
  background: green;
}

.react-calendar { 
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
 }
 .react-calendar__navigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
 }